
/.idea/
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
Consumer.iml
/target/
